@{
    ViewBag.Title = "C#, ASP.NET, MVC, SQL, HTML, CSS, JS";
}

<div class="row welcome">
    <div class="twelve columns">
        @*        <h1>Thiago Vinícius Vieira</h1>
        <h2>Aprender e utilizar novas tecnologias é o meu foco atual</h2>*@
        <img src="/Content/images/certs.png"> 
    </div>
</div>

<div class="row infoboxes">
    <div class="infoleft four columns">
        <h3><span class="iconic rss_alt"></span> Blog</h3>
        <p>Aqui escrevo sobre meus desafios como um desenvolvedor web. Sejam trechos de código, pensamentos ou tutoriais.</p>        
        <p>@Html.ActionLink("Ler", MVC.Blog.Index(), new { @class = "small button" })</p>
    </div>
    <div class="infocentre four columns">
        <h3><span class="iconic user"></span> Perfil</h3>
        <p>Resumo das minhas habilidades e conhecimentos, e uma visão geral da minha atividade como desenvolvedor.</p>        
        <p>@Html.ActionLink("Ver perfil", MVC.Profile.Index(), new { @class = "small button" })</p>
    </div>
    <div class="inforight four columns">
        <h3><span class="iconic mail"></span> Contato</h3>
        <p>Se você tem algo a dizer, esta página irá ajudá-lo. Sinta-se livre para questionar e sugerir.</p>        
        <p>@Html.ActionLink("Contato", MVC.Contact.Index(), new { @class = "small button" })</p>
    </div>
</div>

<div class="row infoboxes">
    <div class="infoleft four columns">
        <h3><span class="iconic paperclip"></span> Transcript</h3>
        <p>Se você é um recrutador, uma agência ou um desenvolvedor buscando parcerias, você pode visualizar o meu Transcript de certifcações. O PDF está disponível aqui.</p>
        <p><a href="http://www.twebly.com/files/MS_Transcript_ThiagoVieira.pdf" class="small button">Transcript</a></p>
    </div>
    <div class="infocentre four columns">
        <h3><span class="iconic chart_alt"></span> Código</h3>
        <p>Eu escrevo código todo dia. Quando não estou escrevendo, estou pensando sobre isso, ou sonhando com isso. Veja meu perfil de codificação.</p>
        <p><a href="http://coderbits.com/thvvieira" class="small button">Perfil Coderbits</a></p>
    </div>
    <div class="inforight four columns">
        <h3><span class="iconic book_alt"></span> Projetos</h3>
        <p>Quase todos os projetos que eu faço, eu coloco no GitHub. Sinta-se livre para visualizá-los, copiá-los, usá-los ou até mesmo compartilhá-los</p>
        <p><a href="http://github.com/thvvieira" class="small button">GitHub</a></p>
    </div>    
</div>