<div class="coderbits_footer">
    <p>
        @*<strong>Intelligent portfolios for developers and designers</strong><br />*@
        Veja meu perfil completo em <a href="https://coderbits.com/thvvieira">https://coderbits.com/thvvieira</a><br />
        @*View this widget on GitHub at <a href="https://github.com/Imdsm/Coderbits.PieCharts">https://github.com/Imdsm/Coderbits.PieCharts</a>*@
    </p>
    @*<img src="~/Content/images/powered_by_coderbits.png" />                    *@
    <br style="clear:both;" />
</div>   